**/*_summary.html
**/*_envsettings.html
**/*_statistics.html
**/*_webtalk.html
**/*.projectmgr
**/*.xreport
webtalk.log
webtalk_pn.xml
_ngo
xlnx_auto_*
xst
_xmsgs
**/*.wdb
**/*.txt
**/*.xml
**/*.bit
**/*.bld
**/*.bgn
**/*.bin
**/*.cmd_log
**/*.drc
**/*.lso
**/*.ncd
**/*.ngc
**/*.ngd
**/*.ngr
**/*.pad
**/*.par
**/*.pcf
**/*.prj
**/*.ptwx
**/*.stx
**/*.syr
**/*.twr
**/*.twx
**/*.unroutes
**/*.ut
**/*.xpi
**/*.xst
**/*.xwbt
**/*.ngm
**/*.xrpt
**/*.csv
**/*.xmsgs
**/*.map
**/*.mrp
xilinxsim.ini
isim
fuseRelaunch.cmd
